$featherRedColor: hsl(0, 64%, 47%);

$textColor1: hsl(208, 14%, 79%);
$textColor2: hsl(67, 19%, 73%);
$linkColor: hsl(204, 82%, 82%);

$backgroundColor1: hsl(210, 29%, 7%);
$backgroundColor2: hsl(210, 29%, 9%);
$backgroundColor3: hsl(198, 52%, 8%);
$backgroundColor4: hsl(233.07, 21%, 6.3%);
$backgroundColor5: hsl(0deg 0% 0% / 38%);
$backgroundColorOwnedPost: hsl(0, 64%, 13%);

$borderColor1: $featherRedColor;
$borderColor2: hsl(0, 64%, 22%);

$borderComments: 0.05rem solid $featherRedColor;
$borderReplies: 0.05rem solid hsl(15, 64%, 47%);

$tagColor: hsl(29, 100%, 92%);
$errorColor: hsl(290, 100%, 76%);